@model Fall2024_Assignment3_wgwilber.Models.MovieDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.IMDBLink)
        </dt>
        <dd class = "col-sm-10">
            <a href="@Model.Movie.IMDBLink" target="_blank">@Model.Movie.IMDBLink</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Photo)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Movie.Photo != null)
            {
                var base64 = Convert.ToBase64String(Model.Movie.Photo);
                var imgSrc = $"data:image/jpg;base64,{base64}";
                <img src="@imgSrc" style="width:250px;height:auto" />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Movie.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<h5>Cast</h5>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Actors)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Actors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Actors" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-controller="Actors" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-controller="Actors" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h5>Reviews</h5>
<h6>Overall Sentiment: @Model.OverallSentiment</h6>
    <table class="table">
        <thead>
            <tr>
                <th>Review</th>
                <th>Date</th>
                <th>Sentiment Score</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var review in Model.Reviews)
            {
                <tr>
                    <td>@review.ReviewText</td>
                    <td>@review.CreatedAt.ToString("MMMM dd, yyyy")</td>
                    <td>@review.SentimentScore.ToString();
                </tr>
            }
        </tbody>
    </table>
    
<form asp-action="GenerateReview" method="post">
    <input type="hidden" name="id" value="@Model.Movie.Id" />
    <label for="reviewer"> Review Author: </label>
    <input type="text" id="reviewer" name="reviewer" required />
    <button type="submit" class="btn btn-success">Generate Review</button>
</form>
